streamlit==1.49.1
numpy==2.3.3
pandas==2.3.2
scipy==1.16.2
yfinance==0.2.65
dataframe_image==0.2.7
finnhub-python==2.4.24
matplotlib==3.10.6
plotly==6.3.0
python-telegram-bot==22.3
PyYAML==6.0.2
streamlit-calendar==1.4.0



