aiohappyeyeballs
aiohttp
aiosignal
altair
anyio
appdirs
attrs
beautifulsoup4
bleach
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cssselect
cssutils
curl_cffi
cycler
dataframe_image
defusedxml
et_xmlfile
etf_scraper
eventkit
exchange_calendars
fake-useragent
fastjsonschema
feedparser
finnhub-python
fonttools
fredapi
frozendict
frozenlist
gitdb
GitPython
greenlet
h11
holidays
httpcore
httpx
ib-insync
idna
importlib_metadata
investpy
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
korean-lunar-calendar
lxml
MarkupSafe
matplotlib
mistune
more-itertools
multidict
multitasking
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
numpy
numba
llvmlite
openpyxl
packaging
pandas
pandas_market_calendars
pandocfilters
parse
peewee
pillow
platformdirs
playwright
plotly
propcache
protobuf
psycopg2
psycopg2-binary
pyarrow
pycparser
pydeck
pyee
Pygments
pyluach
pyparsing
pyquery
python-dateutil
python-telegram-bot
pytz
PyYAML
pyzmq
referencing
requests
requests-html
rpds-py
rpy2
rpy2-rinterface
rpy2-robjects
scipy
seaborn
sgmllib3k
simfin==1.0.1
six
smmap
sniffio
soupsieve
SQLAlchemy
streamlit
streamlit-autorefresh
streamlit-calendar
ta
tenacity
tinycss2
toml
toolz
tornado
tqdm
tradingeconomics
traitlets
typing_extensions
tzdata
tzlocal
Unidecode
urllib3
w3lib
watchdog
webencodings
websocket-client
websockets
yarl
yfinance
zipp
